[Unit]
Description=Kvarn runner service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/usr/local/bin/kvarn-runner-setup.sh
EnvironmentFile=-/run/kvarn-runner.env
ExecStart=/usr/local/bin/kvarn connect
Restart=on-failure

[Install]
WantedBy=multi-user.target
